@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  color: white;
  overflow-x: hidden;
  margin: 0px;
  width: 100%;
  background-color: #03071e;
  background-image: url(https://hatchet.com.au/art/backgrounds/background-happy-dark.svg);
}
